In [8]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'''

import pandas as pd

data = [4,8,15,16,23,42]

pd_series = pd.Series(data)

print(pd_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''
import pandas as pd
var = [1,2,3,4,5,6,7,8,9,0]

var_series = pd.Series(var)

print(var_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [18]:
'''Q3. Create a Pandas DataFrame that contains the following data:'''

data1 = [["Alice",25,"Female"],["Bob",30,"Male"],["Claire",27,"Female"]]

d_frame = pd.DataFrame(data1,columns=["Name","Age","Gender"])

print(d_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


A Pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. 
It is a collection of Series objects, each of which represents a column in the spreadsheet.

A Pandas Series is a one-dimensional data structure that can be thought of as a list with an index.
The index is a unique identifier for each element in the Series. 

The main difference between a DataFrame and a Series is that a DataFrame has multiple columns, while a Series only has one column.

Dataframe Example :

import pandas as pd
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Carol"],
    "age": [25, 30, 35]
})
print(df)

Series Example:

import pandas as pd
series = pd.Series([1, 2, 3, 4, 5])
print(series)
'''

'Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.\n\n\nA Pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. \nIt is a collection of Series objects, each of which represents a column in the spreadsheet.\n\nA Pandas Series is a one-dimensional data structure that can be thought of as a list with an index.\nThe index is a unique identifier for each element in the Series. \n\nThe main difference between a DataFrame and a Series is that a DataFrame has multiple columns, while a Series only has one column.\n\nDataframe Example :\n\nimport pandas as pd\ndf = pd.DataFrame({\n    "name": ["Alice", "Bob", "Carol"],\n    "age": [25, 30, 35]\n})\nprint(df)\n\nSeries Example:\n\nimport pandas as pd\nseries = pd.Series([1, 2, 3, 4, 5])\nprint(series)\n'

In [20]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

df.head(): Returns the first few rows of the DataFrame.
df.tail(): Returns the last few rows of the DataFrame.
df.describe(): Returns summary statistics for each column in the DataFrame.
df.filter(): Returns a DataFrame with only the rows that match the specified criteria.
df.groupby(): Groups the rows of the DataFrame by one or more columns and performs operations on the groups.
df.sort_values(): Sorts the rows of the DataFrame by one or more columns.
df.drop(): Drops rows or columns from the DataFrame.
'''

'Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can\nyou give an example of when you might use one of these functions?\n\ndf.head(): Returns the first few rows of the DataFrame.\ndf.tail(): Returns the last few rows of the DataFrame.\ndf.describe(): Returns summary statistics for each column in the DataFrame.\ndf.filter(): Returns a DataFrame with only the rows that match the specified criteria.\ndf.groupby(): Groups the rows of the DataFrame by one or more columns and performs operations on the groups.\ndf.sort_values(): Sorts the rows of the DataFrame by one or more columns.\ndf.drop(): Drops rows or columns from the DataFrame.\n'

In [21]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature i.e. we can change their data after creation.
'''

'Q6. Which of the following is mutable in nature Series, DataFrame, Panel?\n\nSeries and DataFrame are mutable in nature i.e. we can change their data after creation.\n'

In [22]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''

data2 = [1,2,3,4,5]
data3 = [5,3,28,9,2]
data4 = [34,23,123]

d1 = pd.Series(data2)
d2 = pd.Series(data3)
d3 = pd.Series(data4)

pf = pd.DataFrame([d1,d2,d3],["c1","c2","c3"])

print(pf)

       0     1      2    3    4
c1   1.0   2.0    3.0  4.0  5.0
c2   5.0   3.0   28.0  9.0  2.0
c3  34.0  23.0  123.0  NaN  NaN